
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}



/* ---------------------------------------------- */

#page-wrapper {
	width: 1000px;
	margin: 0 auto;
}

#footer {
	background: #bdbcbc;
	padding: 20px;
	margin: 10px 0;
	border-radius: 5px;
	display: flex;
}

#footer > span {
	font-size: 20px;
	color: #fff;
}

#header {
	background: #bdbcbc;
	padding: 20px 20px 10px;
	margin: 10px 0;
	border-radius: 5px;
	display: flex;
}


#header ul {
	display: flex;
	padding-left: 100px;
}

#header ul li {
	padding: 10px 30px;
    text-transform: uppercase;
    font-family: monospace;
}

#header ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 25px;
}

#basket-link {
	position: absolute;
	top: 25px;
	right: 20px;
}

#logo a, #basket-link a {
	width: 60px;
	height: 60px;
	display: block;
}

#logo img, #basket-link img {
	width: 100%;
}

h1 {
	color: #777;
	font-size: 40px;
	text-align: center;
	padding: 20px 0;
}

#product-list .picture {
	height: 200px;
	overflow: hidden;
}

#product-list > ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#product-list > ul > li {
	padding: 20px;
}

#product-list > ul > li h2 a {
	text-decoration: none;
	color: #999;
	font-size: 25px;
	padding-bottom: 10px;
	display: block;
}

.btn {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	display: block;
	border-radius: 5px;
	text-align: center;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

.btn-buy {
	background: #eda02d;
}

.btn-add {
	background: green;
	max-width: 200px;
}

.btn-delete {
	background: #e35252;
}

#product-list > ul > li .price {
	color: #444;
	font-size: 25px;
	padding: 10px 0;
	text-align: center;
}

#product-list > ul .picture img {
	width: 100%;
}


/* PRODUCT PAGE */

#product-wrapper  {
	padding-top: 40px;
}

#product-wrapper.columns {
	display: flex;
}

#product-wrapper .column {
	width: 60%;
}

#product-wrapper .column:first-child {
	width: 40%;
}

#product-wrapper .column:first-child > div {
	padding-right: 40px;
}

#product-wrapper .column .product-preview {
	width: 100%;
}

#product-wrapper h1 {
	padding-top: 0;
	margin-top: 0;
	text-align: left;
}

#product-wrapper .column.second > div {
	padding: 5px 0;
}

#product-wrapper p {
	padding-bottom: 5px;
	font-size: 18px;
	line-height: 22px;
	color: #444;
}

#product-wrapper .price {
	padding-bottom: 15px !important;
    font-size: 35px;
    color: #319d66;
}

#product-wrapper .sku span {
	background: #319d66;
	color: #fff;
	padding: 3px;
}

#product-wrapper .category span {
	background: #eda02d;
	color: #fff;
	padding: 3px;
}


/* --------------------------------------- */

#my-order table {
	width: 100%;
}

#my-order table td {
	border: 1px solid #eee;
}

#my-order table th {
	text-align: left;
}

#my-order table td, #my-order table th {
	padding: 5px;
}

.form {
	width: 400px;
	margin: 0 auto;
}

.form > div {
	padding: 10px 20px 10px 0;
}

.form > div input[type=text], .form > div input[type=email], .form > div select {
	border: 1px solid #999;
	padding: 10px;
	width: 300px;
}

.form > div textarea {
	border: 1px solid #999;
	padding: 10px;
	width: 300px;
	height: 100px;
}

.form > div label {
	width: 200px;
	display: block;
}


#pager {
	text-align: center;
}

#pager a {
	text-decoration: none;
	color: #777;
	border-bottom: 1px solid #777;
	margin: 3px;
}

#pager a:hover {
	border-bottom: none;
}
